.auth {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  padding: 0.5rem 0;
  text-align: center;
  background: transparent;
  font-weight: 500;
  font-size: 2rem;
  /* border-bottom: 1px solid #eee; */
  margin-bottom: 1rem;
}
.title >h2{
  padding: 0.5rem 0;
  text-align: center;
  background: transparent;
  font-weight: 500;
  font-size: 2rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
}
.form {
  width: 25rem;
  padding: 0.5rem 1.5rem;
  animation: slide-up 0.5s ease;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.inputs > label {
  font-size: 1.2rem;
}
.inputs > input {
  outline: none;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.inputs > input:focus {
  /* background: rgb(215, 238, 245); */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border: 1px solid #007bff;
  cursor: pointer;
}
.inputs > input:valid {
  background: rgb(215, 238, 245);
  
}


.options {
  display: flex;
  justify-content: space-between;
}
.register {
  text-decoration: none;
  color: #007bff;
}
.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 1rem;
}
.passwordInput {
  display: block;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.passwordInput > input {
  outline: none;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  flex-basis: 90%;
}
.eye {
  margin: 0 auto;
  cursor: pointer;
  padding-top: 5px;
}
.items-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.file-upload {
  position: relative;
  margin-bottom: 1.5rem;
}
.file-upload > input {
  position: relative;
  text-align: right;
  cursor: pointer;
  height: 46px;
  cursor: pointer;
  max-width: 200px;
  z-index: 2;
  opacity: 0;
}
.file-upload > button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 60%;
  height: 80%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-top: 0.8rem;
  border-radius: 5px;
}
.inline > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}
@keyframes slide-up {
  0% {
    transform: translateY(-5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 700px) {
  .img {
    display: none;
  }
}
